---
layout: base.njk
title: About - Bridget McTiernan
---

<div class="hero-grid about-hero">
  <div class="about-text-column">
    <h1>
      hi, <br />
      i'm bridget!
    </h1>

    <p class="bio-text">
      exploring the intersection of design and human behavior through
      thoughtful, research-driven experiences.
    </p>
  </div>

  <div class="about-img-container">
    <img
      src="{{ '/bridget-picture.png' | url }}"
      class="about-img"
      alt="Bridget McTiernan"
    />
    <div class="about-overlay"></div>
  </div>

  <div class="separator"></div>
</div>
