---
layout: base.njk
title: Contact Info
---

<h1>Contact</h1>
<div class="subtitle">Get in touch</div>

<div class="content-grid">
  <div class="label">CONTACT INFO</div>
  <div class="contact-list">
    <div>
      <a href="mailto:bridget@example.com" class="contact-link"
        >bridget@example.com</a
      >
    </div>
    <div>
      <a href="https://linkedin.com" class="contact-link">LinkedIn</a>
    </div>
    <div>
      <a href="https://github.com/mcbridgeee" class="contact-link">GitHub</a>
    </div>
  </div>
</div>
